
* {
    box-sizing: border-box;
  }
  
  body {
      margin: 0px;
                  padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f100;
    opacity: 1;
  }
  .climgrwo{
      position: relative;
      width: 120px;
      height: 120px;
  }
  #idtodoelmundo{
  
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: rgb(12, 0, 0);
  }
  
  #idpaneldepeliculas{
      position: absolute;
      top: 2.5%;
      left: 2.5%;
      width: 95%;
      height: 95%;
      background-color: rgba(0, 16, 20, 0.63); 
      display: none; 
      z-index: 2;
  }
  #idpanelpeliculasmedio1{
  
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 20%;
      background-color: rgba(63, 35, 139, 0);
  }
  
  
  #idpanelpeliculasmedio2{
  
  position: absolute;
  top: 21%;
  left: 0%;
  width: 100%;
  height: 79%;
  background-color: rgba(22, 153, 10, 0);
  }
  #idverdaderopeliculas{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
      overflow-y: scroll;
  }
  .pelih3{
  
      color: thistle;
  }
  
  #phaser-example{
  
      position: absolute;
      top: 0%;
      left: 0%;
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: #b61313bb;
  }








 #myInputpeli{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 40%;

    border: 5px double #787CA4;
    border-radius: 40px;

    color:cornsilk;
background-color: #000000;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
 }


#idbtcerrarpanelpel{



background-color: rgba(0, 0, 0, 0.425);
    
    position: absolute;
    top: 10%;
    left: 80%;
    
    height: 20px;
    font-size: 10px;
    text-align: center;
        color: rgb(250, 214, 69);
      
      }


#idbtbuscarpanelpel{



    background-color: rgba(0, 0, 0, 0.425);
    
    position: absolute;
    top: 10%;
    left: 70%;
    
    height: 20px;
    font-size: 10px;
    text-align: center;
        color: rgb(250, 214, 69);


}
#idvisorpelis{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 16, 20, 0.63); 
    display: none; 
    z-index: 4;

}

#idiframe{

    
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#idbtblockiframetop{
  
    
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 70px;
    z-index: 2;  
    background-color: rgba(170, 9, 9, 0);
}



#idbtblockiframetopleft

{
  
    position: absolute;
    top: -3%;
    left: 10%;
    width: 30%;
    height: 70px;
    z-index: 4;  
    color: rgb(170, 9, 9);
    
    background-color: rgba(0, 0, 0, 0);
}


#btnofunciona{


    
    position: absolute;
    top: 10%;
    left: 0%;
    width: 80%;
    height: 80%;
    z-index: 4;  

    color: rgb(255, 255, 255);
    font-size: 9px;
    background-color: rgb(2, 0, 0);
}

#idbtblockiframedown{

    position: absolute;
    top: 81%;
    left: 76%;
    width: 24%;
    height: 24%;
    z-index: 2;  
    background-color: rgba(180, 13, 13, 0);
}


#btmostrarmenu{
display: none;
    position: absolute;
    top: 2%;
    left: 90%;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 44px;
    color: rgb(253, 253, 253);
    z-index: 100;  
   
}

#btmostrarenviavideonofunciona{
    display: none;
        position: absolute;
        top: 33%;
        left: 90%;
        width: 60px;
        height: 60px;
        background-color: rgb(0, 0, 0);
        font-size: 13px;
        border-radius: 12px;
        color: rgb(185, 7, 45);
        z-index: 101;  
       
    }


    #idcodigocursos{ 
        position: absolute;
        top: 25%;
        left: 15%;
        width: 70%;
        height: 40%;
        display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    
    z-index: 320;
    background-color: rgba(0, 0, 0, 0.733);

    border-radius: 12%;
    display: none;
    }

    #idbtokcodigocuross
    {background-color: rgba(50, 53, 51, 0.459);
        width: 30px;
        height: 30px;
        color: rgb(255, 255, 255);
    }

    #idinpucodigocursos{
text-align: center;

        border-radius: 22%;
        width: 70%;
        background-color: rgba(93, 93, 97, 0.404);

        color: rgb(187, 141, 14);
    }




   #iddivbotonescodigocurso {

    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;


    }
    #idbtokcodigocurosscerrar{
        background-color: rgba(50, 53, 51, 0.459);
        width: 30px;
        height: 30px;
        color: rgb(255, 255, 255);

    }

    #idblockokru{

        position: absolute;
        top: 47%;
        left: 0%;
        width: 100%;
        height: 44.8%;
        background-color: rgba(15, 156, 34, 0);
        z-index: 6;
    }

    #idblockokrucentro{

        position: absolute;
        top: 20%;
        left: 38%;
        width: 30%;
        height: 22%;
        background-color: rgba(0, 0, 255, 0);
        z-index: 6;
    }


    #idpanelmensajes{

      
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;

        background-color: rgba(73, 71, 71, 0.377);
        z-index: 300;

        display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    
    display: none;
    }

    #idacamensajetask{
        position: absolute;
        top:20%;
        left: 30%;
        width: 40%;
        height: 30%;
       

        background-color: rgb(255, 255, 255);
        z-index: 3;


text-align:  center;


border-radius: 10%;
border: 2px solid rgba(0, 0, 0, 0.596);

color: #333333;

text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);


font-size: 12px;
    }



#idbtaceptar{

    position: absolute;
    top:70%;
    left: 45%;
    width: 10%;
    height: 8%;
    background-color: rgb(12, 134, 172);
  color: #ffffff;
    font-size: 12px;
    text-align: center;
    border-radius: 20%;
    

}











































#idvideofondo{


    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000000;
}




#idbotonera{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #bb080800;

 }




 #xb1{

    position: absolute;
    top: 15%;
    left: 50%;
    width:12.4450952%;
    height: 27.2%;
    background-color: rgba(28, 110, 164, 0);

    text-align: center;
 border: 1px none #1C6EA4;
 color: #FFFFFF;;


 font-size: 12px;
 z-index: 1;
}


#xb3{

    position: absolute;
    top: 57.8%;
    left: 50%;
    width:12.4450952%;
    height: 27.2%;
    background-color: rgba(28, 110, 164, 0);

    text-align: center;
 border: 1px none #1C6EA4;
 color: #FFFFFF;;


 font-size: 12px;
 z-index: 3;
}


#xb2{

    position: absolute;
    top: 35.8%;
    left: 50%;
    width:12.4450952%;
    height: 27.2%;
    background-color: rgba(28, 110, 164, 0);

    text-align: center;
 border: 1px none #1C6EA4;
 color: #FFFFFF;;
z-index: 2;

 font-size: 12px;
}

#xb5{

    position: absolute;
    top: 35.8%;
    left: 50%;
    width:12.4450952%;
    height: 27.2%;
    background-color: rgba(28, 110, 164, 0);

    text-align: center;
 border: 1px none #1C6EA4;
 color: #FFFFFF;;
z-index: 4;

 font-size: 12px;
}

#xb4{

    position: absolute;
    top: 15%;
    left: 50%;
    width:12.4450952%;
    height: 27.2%;
    background-color: rgba(28, 110, 164, 0);

    text-align: center;
 border: 1px none #1C6EA4;
 color: #FFFFFF;;
z-index: 4;

 font-size: 12px;
}




#xb6{

    position: absolute;
    top: 57.8%;
    left: 50%;
    width:12.4450952%;
    height: 27.2%;
    background-color: rgba(28, 110, 164, 0);

    text-align: center;
 border: 1px none #1C6EA4;
 color: #FFFFFF;;
z-index: 4;

 font-size: 12px;
}



.clx2{

    position: absolute;
    top: 0%;
    left: -39.5%;
    width: 180%;
    height: 100%;
  
  


   
}


#idyo{
    position: absolute;
    top: 86.0%;
    left: 20%;
    width: 200px;
   background-color: rgba(0, 0, 0, 0.349);
color: #eb1616;;
   z-index: 2;
   border-radius: 20%;
  
}



.clspan{

    

   text-align: center;
 
    font-size: 11px;



    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.clnvisorvideo{
display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

#idbtblockiframetocentro{

 



    position: absolute;
    left: 50%;
    top: 0%;
    width: 33%;
    height: 95px;
    z-index: 4;  
    color: rgb(209, 209, 209);
    
    background-color: rgba(0, 0, 0, 0);

    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#idadultosconfirmaredad{
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height:90%;
    z-index: 4;  
    color: rgb(209, 209, 209);
    
    background-color: rgba(255, 255, 255, 0.87);



    
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    
    display: none;
}

.clpconf{
    text-align: justify;
    font-size: 12px;
    color: #000000;
    border-radius: 4%;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.87);
}

 #btconfiredad {
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}


#btconfiredadno {
    background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

 #idbtconfirmar {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
  }